.route-btns{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.route-info{
    display: flex;
    justify-content: center;
    /* flex-direction: row; */
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.route-item{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 13px;
}